.app {
  display: flex;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.menu {
  height: 100%;
  width: 200px;
  background-color:white;
  padding: 20px;
}
.menu ul li {
  padding: 10px 0;
  cursor: pointer;
}
.version-box {
  margin-top: 50px;
  text-align: center;
}
.main-section {
  flex: 1;
  padding: 20px;
  background-color: white;
  overflow-y: auto; /* Cho phép cuộn dọc trong main-section */
  height: 100vh;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-right {
  display: flex;
  align-items: center;
}
.header-right input {
  margin-right: 200px;
  padding: 5px;
  width: 270px;
  border-radius: 5px;
}
.stat-card h3 {
  font-size: 16px;
  margin-bottom: 10px;
}
.stat-card p {
  font-size: 14px;
  margin-bottom: 5px;
}
.table-section {
  margin-top: 20px;
}
.stat-card {
  flex: 1;
  padding: 20px;
  border-radius: 10px;
  color: #333;
}

